
module my-systemdrfkill 1.0;

require {
	type systemd_rfkill_t;
	class capability2 bpf;
}

#============= systemd_rfkill_t ==============
allow systemd_rfkill_t self:capability2 bpf;
